<head>
<title>Insert Data</title>
</head>

<section>
<H1>Insert Data</H1>

<a href="/">Index </a> |
<a href="/insert">Insert </a> |
<a href="/list">Show </a> |
<a href="/listOne">Search </a> |
<a href="/update">Update </a> |
<a href="/delete">Delete</a>
<br><br><br>

<form action="/insert" method="post">

	Restaurant name:<input type="text" name="name"><br>
    Restaurant Id: <input type="text" name="restaurant_id"><br>

	<h3>Address:</h3>
	Building: <input type="text" name="building"><br>
	Coordinates:<br>
	Longitude: <input type="text" name="lon"> Latitude: <input type="text" name="lat"><br>
	Street: <input type="text" name="street"><br>
	Zipcode: <input type="text" name="zipcode"><br>
	<br>
	
	<h3>Information:</h3>
	Borough: <input type="text" name="borough"><br>
	Cuisine: <input type="text" name="cuisine"><br>
	<br>
	
	<h3>Grades:</h3>
	Date: <input type="text" name="date"><br>
	Grade: <input type="text" name="grade"><br>
	Score: <input type="text" name="score"><br>

	<input type="submit" value="Create">

</form>


</section>
</body>
</html>
